/* animacao */
@keyframes aparicaoSuave {
  from {
    opacity: 0; /* Começa invisível */
    transform: translateY(20px); /* Opcional: desliza levemente para cima */
  }
  to {
    opacity: 1; /* Termina totalmente visível */
    transform: translateY(0); /* Volta à posição original */
  }
}

/* font google - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* variáveis */
:root {
  --azulPadrao: #00a2ff;
  --azulEscuro: #064d76;
  --azulClaro: #2badf8;
  --arrendado: 10px;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* html */
html {
  font-size: 16px;
}

/* body */
body {
  animation: aparicaoSuave 1s ease-in-out; /* Duração de 1 segundo */
  font-size: 1rem;
  background: linear-gradient(to right, var(--azulEscuro), #000);
  width: 100dvw;
  height: 100dvh;
  margin: 0 auto;
  overflow-x: hidden;
  color: #fff;
}

/* header */
header {
  width: 100%;
  padding: 20px;
  text-align: center;
}

/* main */
main {
  max-width: 70%;
  margin: 0 auto;
}

/* linhas horizontais */
hr {
  border: 1.4px solid;
  margin: 6px 0;
}

/* titulos h2 */
h2 {
  margin: 8px 0;
  color: var(--azulPadrao);
}

/* titulos h3 */
h3 {
  margin-top: 8px;
}

/* uls */
ul {
  margin-left: 2rem;
}

/* resumo */
main .resumo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
main .resumo strong {
  color: var(--azulClaro);
}

/*div de experiencia  */
.experiencia {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* strongs */
strong {
  font-size: 0.9rem;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 5px;
  gap: 5px;
  width: 100%;
}
footer p {
  font-weight: bold;
}
footer .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}
footer .redes a img {
  width: 30px;
  height: 30px;
}

/* responsivo */
@media (max-width: 700px) {
  html {
    font-size: 15px;
  }
  main {
    max-width: 90%;
  }
  main .resumo {
    text-align: center;
  }
}
/* pagina de erro */
#pag-erro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
}
#pag-erro h1 {
  font-size: 3rem;
}
/* botao de voltar */
#pag-erro #btnVoltar {
  background-color: var(--azulPadrao);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
#pag-erro #btnVoltar:hover {
  transform: scale(1.3);
}
